.form_tile {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 80vh;
  row-gap: 3vh;
}

.form_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form1{
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}


.form1 input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}



.submit {
  background-color: red;
  width: 100%;
  height: 5vh;
}

.submit1 {
  background-color: grey;
  width: 100%;
  height: 5vh;
}

input:focus {
  outline: none;
  border: 3px solid #e33535;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

