.card-list img{
    height: 300px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
}
.title-cards{
    margin-top: 50px;
}
.title-cards h2{
    margin-bottom:8px ;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card-list .card p{
    bottom: 10px;
    right: 10px;
}
.card-list::-webkit-scrollbar{
    display: none;
}
